[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "aminal_core"]
	path = aminal_core
	url = https://github.com/edwardgallyot/aminal_core.git
[submodule "flocks"]
	path = flocks
	url = https://github.com/edwardgallyot/flocks.git
